deps/windows_amd64/libzen_ffi.a filter=lfs diff=lfs merge=lfs -text
deps/darwin_amd64/libzen_ffi.a filter=lfs diff=lfs merge=lfs -text
deps/darwin_arm64/libzen_ffi.a filter=lfs diff=lfs merge=lfs -text
deps/linux_amd64/libzen_ffi.a filter=lfs diff=lfs merge=lfs -text
deps/linux_arm64/libzen_ffi.a filter=lfs diff=lfs merge=lfs -text
deps/windows_amd64/libzen_ffi.lib filter=lfs diff=lfs merge=lfs -text
